/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
}

.container {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
}

header {
    width: 100%;
    padding: 20px;
    background-color: #4ca2cd;
    color: #fff;
    text-align: center;
}

nav {
    width: 250px;
    background-color: #333;
    color: #fff;
    padding-top: 20px;
    height: 100vh; /* Fill the height of the viewport */
    position: fixed; /* Keep the sidebar fixed as user scrolls */
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    margin-bottom: 10px;
}

nav ul li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #fff;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #555;
}

section {
    flex: 1;
    padding: 20px;
    margin-left: 250px; 
}

section h2 {
    font-size: 24px;
    color: #333;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}
